<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./style.css" />
    <title>index</title>
  </head>
  <body>
    <section>
      <div class="sidebar">
        <h2>サポートページ</h2>
        <div class="submenu">
          <h3>1-初めて使う時</h3>
          <ul class="hidden">
            <li><a href="">概要</a></li>
            <li><a href="">インストール</a></li>
            <li><a href="">アカウント登録</a></li>
            <li><a href="">アンインストール</a></li>
          </ul>
        </div>
      </div>
      <div class="submenu">
        <h3>2-基本的な使い方</h3>
        <ul class="hidden">
          <li><a href="">操作方法</a></li>
          <li><a href="">元の状態に復元</a></li>
          <li><a href="">拡張機能を追加</a></li>
          <li><a href="">困ったときは</a></li>
        </ul>
      </div>
    </section>
  </body>
</html>
